<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">


    <security:http auto-config="true" use-expressions="false">
        <security:intercept-url pattern="/admin" access="ROLE_ADMIN"/>
        <security:intercept-url pattern="/personcenter" access="ROLE_USER"/>

        <security:form-login login-page="/login"
                             login-processing-url="/login.do"
                             authentication-success-forward-url="/admin"
                             default-target-url="/admin"
                             authentication-failure-url="/login?failed=true"
                             authentication-success-handler-ref="successHandler"
                             authentication-failure-handler-ref="failHandler"
                             username-parameter="account"
                             password-parameter="password"/>

        <security:logout logout-success-url="/" delete-cookies="true"/>

        <!--<remember-me -->
        <security:remember-me
                remember-me-cookie="rememberMe"
                data-source-ref="dataSource"
                key="yang"
                token-validity-seconds="86400"
                remember-me-parameter="rememberMe"/>
        <security:csrf/>

        <security:session-management>
            <security:concurrency-control max-sessions="1" error-if-maximum-exceeded="false" expired-url="/expired"/>
        </security:session-management>
    </security:http>


    <bean id="successHandler" class="com.mall.handler.AuthenticationSuccessHandlerImpl"/>
    <!--使用失败处理器之后，将不在提示默认的错误信息给前台，需要自行在错误里面捕获异常然后返回消息给前台-->
    <bean id="failHandler" class="com.mall.handler.AuthenticationFailHandlerImpl"/>


    <security:authentication-manager alias="authenticationManager">
        <!--使用自动配置代码-->
        <!--<security:authentication-provider user-service-ref="customAccountService"/>-->
        <security:authentication-provider ref="daoAuthenticationProvider"/>
    </security:authentication-manager>


    <!--<bean id="localeResolver"-->
          <!--class="org.springframework.web.servlet.i18n.AcceptHeaderLocaleResolver"/>-->

    <bean id="daoAuthenticationProvider"
          class="com.mall.provider.CustomDaoAuthenticationProvider">
        <property name="hideUserNotFoundExceptions" value="false"/>
        <property name="userDetailsService" ref="customAccountService"/>
        <property name="messageSource" ref="messageSource"/>
    </bean>

    <bean id="messageSource" parent="baseMessageSource"/>

</beans>